#R PROGRAMMING

###Check Available R Packages
To check the available R Packages, we have to find the library location in which R packages are contained. R provides libPaths() function to find the library locations.

In [1]:
libPaths()

ERROR: ignored

When the above code executes, it produces the following project, which may vary depending on the local settings of our PCs & Laptops.

In [2]:
library()

When we execute the above function, it produces the following result, which may vary depending on the local settings of our PCs or laptops.

Like library() function, R provides search() function to get all packages currently loaded in the R environment.

In [3]:
search()

 [1] ".GlobalEnv"        "jupyter:irkernel"  "package:stats"
 [4] "package:graphics"  "package:grDevices" "package:utils"
 [7] "package:datasets"  "package:methods"   "Autoloads"
[10] "package:base"

When we execute the above code, it will produce the following result, which may vary depending on the local settings of our PCs and laptops:

Install directly from CRAN
The following command is used to get the packages directly from CRAN webpage and install the package in the R environment. We may be prompted to choose the nearest mirror. Choose the one appropriate to our location.

install.packages("Package Name")

In [4]:
#The syntax of installing XML package is as follows:
install.packages("XML")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

###Install package manually

To install a package manually, we first have to download it from https://cran.r-project.org/web/packages/available_packages_by_name.html. The required package will be saved as a .zip file in a suitable location in the local system.

###Load Package to Library
We cannot use the package in our code until it will not be loaded into the current R environment. We also need to load a package which is already installed previously but not available in the current environment.

There is the following command to load a package:

library("package Name", lib.loc = "path to library")

In [5]:
#Command to load the XML package
#install.packages("C:\Users\ajeet\OneDrive\Desktop\graphics\xml2_1.2.2.zip", repos = NULL, type = "source")

###Hello world program

In [6]:
string <- "Hello World!"
print(string)

[1] "Hello World!"

###Single-line comment

In [7]:
#My First program in R programming
string <-"Hello World!"
print(string)

[1] "Hello World!"

###The trick for multi-line comment

In [8]:
#Trick for multi-line comment
if(FALSE) {
   "R is an interpreted computer programming language which was created by
   Ross Ihaka and Robert Gentleman at the University of Auckland, New Zealand "
}
#My First program in R programming
string <-"Hello World!"
print(string)

[1] "Hello World!"

#DATA TYPES

In [9]:
#to get the data type of the variable use class() function
a <- 10
class(a)

[1] "numeric"

In [10]:
#Logical Data type
variable_logical<- TRUE
cat(variable_logical,"\n")
cat("The data type of variable_logical is ",class(variable_logical),"\n\n")

TRUE
The data type of variable_logical is  logical

In [11]:
#Numeric Data type
variable_numeric<- 3532
cat(variable_numeric,"\n")
cat("The data type of variable_numeric is ",class(variable_numeric),"\n\n")

3532
The data type of variable_numeric is  numeric

In [12]:
#Integer Data type
variable_integer<- 133L
cat(variable_integer,"\n")
cat("The data type of variable_integer is ",class(variable_integer),"\n\n")

133
The data type of variable_integer is  integer

In [13]:
#Complex Data type
variable_complex<- 3+2i
cat(variable_complex,"\n")
cat("The data type of variable_complex is ",class(variable_complex),"\n\n")

3+2i
The data type of variable_complex is  complex

In [14]:
#Character Data type
variable_char<- "Learning r programming"
cat(variable_char,"\n")
cat("The data type of variable_char is ",class(variable_char),"\n\n")

Learning r programming
The data type of variable_char is  character

In [15]:
#Raw Data type
variable_raw<- charToRaw("Learning r programming")
cat(variable_raw,"\n")
cat("The data type of variable_char is ",class(variable_raw),"\n\n")

4c 65 61 72 6e 69 6e 67 20 72 20 70 72 6f 67 72 61 6d 6d 69 6e 67
The data type of variable_char is  raw

###Assignment of variable
In R programming, there are three operators which we can use to assign the values to the variable. We can use leftward, rightward, and equal_to operator for this purpose.

There are two functions which are used to print the value of the variable i.e., print() and cat(). The cat() function combines multiples values into a continuous print output.

In [16]:
# Assignment using equal operator.
variable.1 = 124

In [17]:
# Assignment using leftward operator.
variable.2 <- "Learn R Programming"

In [18]:
# Assignment using rightward operator.
133L -> variable.3

In [19]:
print(variable.1)
cat ("variable.1 is ", variable.1 ,"\n")
cat ("variable.2 is ", variable.2 ,"\n")
cat ("variable.3 is ", variable.3 ,"\n")

[1] 124
variable.1 is  124
variable.2 is  Learn R Programming
variable.3 is  133

###Data types of variable
R programming is a dynamically typed language, which means that we can change the data type of the same variable again and again in our program. Because of its dynamic nature, a variable is not declared of any data type. It gets the data type from the R-object, which is to be assigned to the variable.

We can check the data type of the variable with the help of the class() function

In [20]:
variable_y<- 124
cat("The data type of variable_y is ",class(variable_y),"\n")

The data type of variable_y is  numeric

In [21]:
variable_y<- "Learn R Programming"
cat("  Now the data type of variable_y is ",class(variable_y),"\n")

  Now the data type of variable_y is  character

In [22]:
variable_y<- 133L
cat("   Next the data type of variable_y becomes ",class(variable_y),"\n")

   Next the data type of variable_y becomes  integer

#Keywords in R Programming

###if

The if statement consists of a Boolean expression which is followed by one or more statements. In R, if statement is the simplest conditional statement which is used to decide whether a block of the statement will be executed or not.

In [23]:
a<-12
if(a<15) {
  print("I am lesser than 15")  }

[1] "I am lesser than 15"

In [24]:
x <- c("what","is","truth")

if("Truth" %in% x) {
   print("Truth is found")
} else {
   print("Truth is not found")
}

[1] "Truth is not found"

###else
The R else statement is associated with if statement. When the if statement's condition is false only then else block will be executed.

In [25]:
a<-22
if(a<20){
    cat("I am lesser than 20")
}else{
    cat("I am larger than 20")
}

I am larger than 20

###repeat

The repeat keyword is used to iterate over a block of code multiple numbers of times. In R, repeat is a loop, and in this loop statement, there is no condition to exit from the loop. For exiting the loop, we will use the break statement.

In [26]:
x <- 1
repeat {
    cat(x)
    x = x+1
if (x == 6){
        break
    }
}

12345

###while

A while keyword is used as a loop. The while loop is executed until the given condition is true. This is also used to make an infinite loop.

In [27]:
a <- 20
while(a!=0){
      cat(a)
      a = a-2
}

2018161412108642

###function

A function is an object in R programming. The keyword function is used to create a user-define function in R. R has some pre-defined functions also, such as seq, mean, and sum.

In [28]:
new.function<- function(n) {
   for(i in 1:n) {
      a <- i^2
      print(a)
   }
}
new.function(6)

[1] 1
[1] 4
[1] 9
[1] 16
[1] 25
[1] 36

###for
The for is a keyword which is used for looping or iterating over a sequence (dictionary, string, list, set or tuple).

We can execute a set of a statement once for each item in the iterator (list, set, tuple, etc.) with the help of for loop.

In [29]:
v <- LETTERS[1:4]
for ( i in v) {
   print(i)
}

[1] "A"
[1] "B"
[1] "C"
[1] "D"

###next
The next keyword skips the current iteration of a loop without terminating it. When R parser found next, it skips further evaluation and starts the new iteration of the loop.

In [30]:
v <- LETTERS[1:6]
for ( i in v) {
if (i == "D") {
        next
}
    print(i)
}

[1] "A"
[1] "B"
[1] "C"
[1] "E"
[1] "F"

###break
The break keyword is used to terminate the loop if the condition is true. The control of the program firstly passes to the outer statement then passes to the body of the break statement.

In [31]:
n<-1
while(n<10){
if(n==3)
        break
n=n+1
cat(n,"\n")
}
cat("End of the program")

2
3
End of the program

###TRUE/FALSE
The TRUE and FALSE keywords are used to represent a Boolean true and Boolean false. If the given statement is true, then the interpreter returns true else the interpreter returns false.

###NULL
In R, NULL represents the null object. NULL is used to represent missing and undefined values. NULL is the logical representation of a statement which is neither TRUE nor FALSE.

In [32]:
as.null(list(a = 1, b = "c"))

NULL

###Inf and NaN
The is.finite and is.infinite function returns a vector of the same length indicating which elements are finite or infinite.

Inf and -Inf are positive and negative infinity. NaN stands for 'Not a Number.' NaN applies on numeric values and real and imaginary parts of complex values, but it will not apply to the values of integer vectors.

In [33]:
is.finite(x)
is.infinite(x)
is.nan(x)

[1] TRUE

[1] FALSE

[1] FALSE

### NA
NA is a logical constant of length 1 that contains a missing value indicator. It can be coerced to any other vector type except raw. There are other types of constant also, such as NA_Integer_, NA_real_, NA_complex_, and NA_character. These constants are of the other atomic vector type which supports missing values.

In [34]:
is.na(x)
anyNA(x, recursive = FALSE)

## S3 method for class 'data.frame'
is.na(x)

is.na(x) <- value

[1] FALSE

[1] FALSE

[1] FALSE

ERROR: ignored

#Operators in R

###Arithmetic Operators
Arithmetic operators are the symbols which are used to represent arithmetic math operations. The operators act on each and every element of the vector. There are various arithmetic operators which are supported by R.

In [35]:
#+ : This operator is used to add two vectors in R.
a <- c(2, 3.3, 4)
b <- c(11, 5, 3)
print(a+b)

[1] 13.0  8.3  7.0

In [36]:
#- :This operator is used to divide a vector from another one.
a <- c(2, 3.3, 4)
b <- c(11, 5, 3)
print(a-b)

[1] -9.0 -1.7  1.0

In [37]:
#*	This operator is used to multiply two vectors with each other.
a <- c(2, 3.3, 4)
b <- c(11, 5, 3)
print(a*b)

[1] 22.0 16.5 12.0

In [38]:
#/ : This operator divides the vector from another one.
a <- c(2, 3.3, 4)
b <- c(11, 5, 3)
print(a/b)

[1] 0.1818182 0.6600000 1.3333333

In [39]:
#%% : This operator is used to find the remainder of the first vector with the second vector.
a <- c(2, 3.3, 4)
b <- c(11, 5, 3)
print(a%%b)

[1] 2.0 3.3 1.0

In [40]:
#%/% : This operator is used to find the division of the first vector with the second(quotient).
a <- c(2, 3.3, 4)
b <- c(11, 5, 3)
print(a%/%b)

[1] 0 0 1

In [41]:
#^ :This operator raised the first vector to the exponent of the second vector.
a <- c(2, 3.3, 4)
b <- c(11, 5, 3)
print(a^b)

[1] 2048.0000  391.3539   64.0000

###Relational Operators
A relational operator is a symbol which defines some kind of relation between two entities. These include numerical equalities and inequalities. A relational operator compares each element of the first vector with the corresponding element of the second vector. The result of the comparison will be a Boolean value.

In [42]:
# >	: This operator will return TRUE when every element in the first vector is greater than the corresponding element of the second vector.
a <- c(1, 3, 5)
b <- c(2, 4, 6)
print(a>b)

[1] FALSE FALSE FALSE

In [43]:
# < : This operator will return TRUE when every element in the first vector is less then the corresponding element of the second vector.
a <- c(1, 9, 5)
b <- c(2, 4, 6)
print(a<b)

[1]  TRUE FALSE  TRUE

In [44]:
# <= :This operator will return TRUE when every element in the first vector is less than or equal to the corresponding element of another vector.
a <- c(1, 3, 5)
b <- c(2, 3, 6)
print(a<=b)

[1] TRUE TRUE TRUE

In [45]:
# >=:	This operator will return TRUE when every element in the first vector is greater than or equal to the corresponding element of another vector.
a <- c(1, 3, 5)
b <- c(2, 3, 6)
print(a>=b)

[1] FALSE  TRUE FALSE

In [47]:
#== : This operator will return TRUE when every element in the first vector is equal to the corresponding element of the second vector.
a <- c(1, 3, 5)
b <- c(2, 3, 6)
print(a==b)

[1] FALSE  TRUE FALSE

In [46]:
# != :	This operator will return TRUE when every element in the first vector is not equal to the corresponding element of the second vector.
a <- c(1, 3, 5)
b <- c(2, 3, 6)
print(a>=b)

[1] FALSE  TRUE FALSE

###Logical Operators
The logical operators allow a program to make a decision on the basis of multiple conditions. In the program, each operand is considered as a condition which can be evaluated to a false or true value. The value of the conditions is used to determine the overall value of the op1 operator op2. Logical operators are applicable to those vectors whose type is logical, numeric, or complex.

The logical operator compares each element of the first vector with the corresponding element of the second vector.

In [48]:
# &:	This operator is known as the Logical AND operator. This operator takes the first element of both the vector and returns TRUE if both the elements are TRUE.
	a <- c(3, 0, TRUE, 2+2i)
	b <- c(2, 4, TRUE, 2+3i)
	print(a&b)

[1]  TRUE FALSE  TRUE  TRUE

In [49]:
# | :	This operator is called the Logical OR operator. This operator takes the first element of both the vector and returns TRUE if one of them is TRUE.
	a <- c(3, 0, TRUE, 2+2i)
	b <- c(2, 4, TRUE, 2+3i)
	print(a|b)

[1] TRUE TRUE TRUE TRUE

In [50]:
# !	This operator is known as Logical NOT operator. This operator takes the first element of the vector and gives the opposite logical value as a result.
	a <- c(3, 0, TRUE, 2+2i)
	print(!a)

[1] FALSE  TRUE FALSE FALSE

In [51]:
# &&	This operator takes the first element of both the vector and gives TRUE as a result, only if both are TRUE.
	a <- c(3, 0, TRUE, 2+2i)
	b <- c(2, 4, TRUE, 2+3i)
	print(a&&b)

ERROR: ignored

In [52]:
# ||:	This operator takes the first element of both the vector and gives the result TRUE, if one of them is true.
	a <- c(3, 0, TRUE, 2+2i)
	b <- c(2, 4, TRUE, 2+3i)
	print(a||b)

ERROR: ignored

### Assignment Operators
An assignment operator is used to assign a new value to a variable. In R, these operators are used to assign values to vectors. There are the following types of assignment

In [53]:
#<- or = or <<-	: These operators are known as left assignment operators.
	a <- c(3, 0, TRUE, 2+2i)
	b <<- c(2, 4, TRUE, 2+3i)
	d = c(1, 2, TRUE, 2+3i)
	print(a)
	print(b)
	print(d)

[1] 3+0i 0+0i 1+0i 2+2i
[1] 2+0i 4+0i 1+0i 2+3i
[1] 1+0i 2+0i 1+0i 2+3i

In [54]:
#-> or ->>:	These operators are known as right assignment operators.
	c(3, 0, TRUE, 2+2i) -> a
	c(2, 4, TRUE, 2+3i) ->> b
	print(a)
	print(b)

[1] 3+0i 0+0i 1+0i 2+2i
[1] 2+0i 4+0i 1+0i 2+3i

###Miscellaneous Operators
Miscellaneous operators are used for a special and specific purpose. These operators are not used for general mathematical or logical computation. There are the following miscellaneous operators which are supported in R

In [55]:
#:	The colon operator is used to create the series of numbers in sequence for a vector.
	v <- 1:8
	print(v)

[1] 1 2 3 4 5 6 7 8

In [56]:
#%in%	: This is used when we want to identify if an element belongs to a vector.
	a1 <- 8
	a2 <- 12
	d <- 1:10
	print(a1%in%t)
	print(a2%in%t)

ERROR: ignored

In [59]:
# %*%:	It is used to multiply a matrix with its transpose.
	M=matrix(c(1,2,3,4,5,6), nrow=2, ncol=3, byrow=TRUE)
	T=m%*%T(M)
	print(T)

ERROR: ignored

###R if Statement

In [60]:
x <-24L
y <- "shubham"
if(is.integer(x))
{
    print("x is an Integer")
}

[1] "x is an Integer"

In [61]:
x <-20
y<-24
count=0
if(x<y)
{
    cat(x,"is a smaller number\n")
    count=1
}
if(count==1){
    cat("Block is successfully execute")
}

20 is a smaller number
Block is successfully execute

In [62]:
x <-1
y<-24
count=0
while(x<y){
    cat(x,"is a smaller number\n")
    x=x+2
    if(x==15)
        break
}

1 is a smaller number
3 is a smaller number
5 is a smaller number
7 is a smaller number
9 is a smaller number
11 is a smaller number
13 is a smaller number

In [63]:
x <-24
if(x%%2==0){
    cat(x," is an even number")
}
if(x%%2!=0){
    cat(x," is an odd number")
}

24  is an even number

In [66]:
year1 = 2011
if(year1 %% 4 == 0) {
 if(year1 %% 100 == 0) {
     if(year1 %% 400 == 0) {
         cat(year1,"is a leap year")
        } else {
         cat(year1,"is not a leap year")
        }
    } else {
     cat(year1,"is a leap year")
    }
} else {
 cat(year1,"is not a leap year")
}

2011 is not a leap year